/* font */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

body {
    font-family: "Nanum Gothic Coding", monospace;
}

/* 네비게이션 영역 */
.nav-link:hover,
.nav-link.active {
    color: #ffc107 !important;
}


footer {
    background-color: rgb(140, 112, 19);
}
